<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133698693745-amo2uj5clmb8fhi0of0nj369h8a2ehdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133698693745-amo2uj5clmb8fhi0of0nj369h8a2ehdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAql1H4IwfTnf40X8pRN6gwcNtzSwg2dMI</string>
	<key>GCM_SENDER_ID</key>
	<string>133698693745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationTemplate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-53020</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-53020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133698693745:ios:ff08841b6c44c631a389d0</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-list-53020-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>